.blog-post-container
  display: flex
  flex-direction: column
  font-family: monospace
  margin: 4em

.blog-container
  height: 100vh
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column

.blog-post-link
  color: black
  letter-spacing: 2px
  &:hover
    color: #3d8b40

.blog.left-column
  width: 15vw
  display: flex
  flex-direction: column
  padding-top: 10%
  margin-top: 400px

.blog.right-column
  width: 65vw
  display: flex
  flex-direction: column
  padding-left: 10%
  margin-top: 100px

.tinyb-container
  img
    width: 200px