.header-container
  height: 80vh
  background-color: $primary-color-dark
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column

.border-container
  position: absolute
  top: 1%
  left: 1%

.under-construction
  height: 100vh !important

.text-container
  position: absolute
  top: 40vh
  left: 50%
  transform: translate(-50%, -50%)
  text-align: center

.icons-container
  position: absolute
  top: 90vh
  left: 50%
  transform: translate(-50%, -50%)
  display: flex
  align-items: center
  justify-content: center
  flex-direction: row

.icon-container-item
  margin: 20px

.row-1
  height: 40vh
  width: 100vw
  display: flex
  flex-direction: row
.row-2
  height: 40vh
  width: 100vw
  display: flex
  flex-direction: row

.row-1-1
  background-color: #388E3C
  width: 50vw
.row-1-2
  background-color: #1976D2
  width: 50vw
.row-2-1
  background-color: #D32F2F
  width: 50vw
.row-2-2
  background-color: #FF9800
  width: 50vw