.header-container
  height: 30vh
  background-color: $primary-color-dark
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column

.border-container
  position: absolute
  top: 1%
  left: 1%

.under-construction
  height: 100vh !important

.icons-container
  position: absolute
  top: 90vh
  left: 50%
  transform: translate(-50%, -50%)
  display: flex
  align-items: center
  justify-content: center
  flex-direction: row

.icon-container-item
  margin: 20px

