.header-container
  height: 100vh
  background-color: $primary-color-dark
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  overflow: hidden !important
  a
    color: white

.border-container
  position: absolute
  top: 1%
  left: 0.5%

.header-icons
  margin: 30px

.under-construction
  height: 100vh !important
  text-align: center

.text-container
  position: absolute
  top: 20%
  right: -20px
  transform: translate(-50%, -50%)
  text-align: right
  color: #fff
  width: 300px

.icons-container
  position: absolute
  top: 90vh
  left: 50%
  transform: translate(-50%, -50%)
  display: flex
  align-items: center
  justify-content: center
  flex-direction: row

.icon-container-item
  margin: 20px

.row-1
  height: 60vh
  width: 100vw
  display: flex
  flex-direction: row

.row-2
  height: 40vh
  width: 100vw
  display: flex
  flex-direction: row

.row
  display: flex
  align-items: center
  justify-content: center
  color: white
  font-size: 1.4em
  transition: all 1s
  h5
    transition: all 1s
  &:hover
    background-color: white
    border: 1px solid #311b92
    -webkit-transform: translateY(-20px) translateX(5px) rotate(90deg)
    transition: all 1s
  &:hover
    h5
      -webkit-transform: translateY(-20px) translateX(5px) rotate(-90deg)
      font-size: 1.5em
      border-bottom: 2px solid #ffd600
      transition: all 1s
      color: $primary-color-dark

.i1-1
  background-color: #1976d2
  width: 30vw
  border: 3px solid whitesmoke
  &:hover
    width: 50vw

.i1-2
  background-color: #2e7d32
  width: 70vw
  border: 1px solid whitesmoke

.i2-1
  background-color: #fbc02d
  width: 40vw
  border: 3px solid whitesmoke
  &:hover
    width: 30vw
    .i1-2
      width: 20vw


.i2-2
  background-color: #00bfa5
  width: 30vw
  border: 1px solid whitesmoke
  &:hover
    width: 30vw

.i2-3
  background-color: #ff5722
  width: 30vw
  border: 1px solid whitesmoke
  &:hover
    width: 30vw
