// ----------- utils ----------------------------------------------------------
.lighten
  color: $primary-color-text

.page-container
  padding: 2%
  margin: 10% 2%
  min-height: 90vh
  display: flex
  align-items: center
  //justify-content: center
  flex-direction: column
  overflow: hidden !important

.is-primary
  background-color: $primary-color !important

.is-secondary
  background-color: $secondary-color !important

.project-image-container
  display: flex
  align-items: center
  justify-content: center
  img
    width: 80%

.test-hamburger-menu
  background-color: #00bfa5
  height: 100px
  width: 100px