.words-container
  display: flex
  flex-direction: row
  margin: 1em 0em 25vh 0em
  width: 50vw
  flex-flow: wrap
  @media (min-width: 0px)
    width: 280px
  @media (min-width: 480px)
    width: 380px
  @media (min-width: 960px)
    width: 50vw

.word-item
  padding: 0.5em
  margin: 0.5em
  border: 1px solid #adadad
  box-shadow: 0 5px 1px 0 rgba(0,0,0, 1)
  border-radius: 2px
  cursor: pointer
  font-size: 1.2em
  font-family: $heading-font
  background-color: white
  //transform: rotate(2deg)
  @media (min-width: 0px)
    font-size: 12px
  @media (min-width: 480px)
    font-size: 15px
  @media (min-width: 960px)
    font-size: 18px

.sequence-container
  display: flex
  flex-direction: column
  position: fixed
  top: 60vh
  background-color: white
  z-index: 9999
  width: 100vw
  overflow: hidden
  box-shadow: 0 -5px 2px -5px rgba(0,0,0, 1)
  height: 40vh


.message-container
  display: flex
  align-items: center
  justify-content: center
  flex-flow: wrap
  @media (min-width: 0px)
    margin: 250px 80px 0 80px
    padding: 0 40px
    width: 300px
  @media (min-width: 480px)
    margin: 400px 60px 0 60px
    width: 400px
  @media (min-width: 960px)
    margin: 550px 60px 0 60px
    width: 500px
  //&:nth-child(1, 1)
  //  transform: rotate(random(3))
  //&:nth-child(even, 1)
  //  transform: rotate(-4deg)

.message-container-ipseity
  display: flex
  align-items: center
  justify-content: center
  flex-flow: wrap

.magnets-header
  color: #757575
  font-style: italic
  @media (min-width: 0px)
    font-size: 15px
  @media (min-width: 480px)
    font-size: 18px
  @media (min-width: 960px)
    font-size: 21px

.magnets-main-header
  @media (min-width: 0px)
    font-size: 18px
  @media (min-width: 480px)
    font-size: 21px
  @media (min-width: 960px)
    font-size: 24px

.magnets-error-text
  color: royalblue
  font-style: italic
  @media (min-width: 0px)
    font-size: 12px
  @media (min-width: 480px)
    font-size: 15px
  @media (min-width: 960px)
    font-size: 18px

.haiku-action
  margin: 30px
  position: fixed
  bottom: 1vh
  right: 1vh