@charset "UTF-8"
// colors
$primary-color-dark:   #D32F2F
$primary-color:        #F44336
$primary-color-light:  #FFCDD2
$primary-color-text:   #FFFFFF
$accent-color:         #03A9F4
$primary-text-color:   #212121
$secondary-text-color: #757575
$divider-color:        #BDBDBD

// Font Variables
$heading-font: 'Exo', sans-serif
$body-font: 'Quicksand', sans-serif

// Styles
html
  margin: 0
  padding: 0

body
  font-family: $body-font
  font-weight: normal
  margin: 0
  padding: 0

h1, h2, h3, h4, h5, h6
  font-family: $heading-font
  font-weight: normal
  text-transform: uppercase

.heading-light
  color: $primary-color-text

.page-container
  margin-top: -40px
  min-height: 100vh

.text-container
  display: flex
  align-items: center
  justify-content: center
  height: 100vh
  flex-direction: column

.header-container
  height: 30vh
  background-color: $primary-color-dark
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column